# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
whr_path = r'C:\Users\iNDIA\Desktop\Career Foundry\6 Advanced Analytics & Dashboard Design\6.1 Sourcing Open Data\World Happiness Report\World Happiness Report.csv'

In [3]:
#Importing World Happiness Report
happiness_report = pd.read_csv(os.path.join(r'C:\Users\iNDIA\Desktop\Career Foundry\6 Advanced Analytics & Dashboard Design\6.1 Sourcing Open Data\World Happiness Report\World Happiness Report.csv'))

In [4]:
happiness_report.shape

(2128, 13)

In [5]:
happiness_report.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2128 entries, 0 to 2127
Data columns (total 13 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country name                      2128 non-null   object
 1   Country Code                      2128 non-null   object
 2   Regional Indicator                2128 non-null   object
 3   year                              2128 non-null   int64
 4   Happiness Score                   2128 non-null   float64
 5   Log GDP per capita                2093 non-null   float64
 6   Social support                    2115 non-null   float64
 7   Healthy life expectancy at birth  2074 non-null   float64
 8   Freedom to make life choices      2101 non-null   float64
 9   Generosity                        2073 non-null   float64
 10  Perceptions of corruption         2026 non-null   float64
 11  Positive affect                   1927 non-null   float64
 12  Negative affect                   1933 non-null   float64
dtypes: float64(9), int64(1), object(3)
memory usage: 216.2+ KB

In [6]:
happiness_report.head()

,Country name,Country Code,Regional Indicator,year,Happiness Score,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,AFG,South Asia,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.532,0.375
1,Afghanistan,AFG,South Asia,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,AFG,South Asia,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.518,0.258
3,Afghanistan,AFG,South Asia,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.710,0.268
4,Afghanistan,AFG,South Asia,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.621,0.273

In [7]:
happiness_report.describe()

,year,Happiness Score,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
count,2128.000000,2128.000000,2093.000000,2115.000000,2074.000000,2101.000000,2073.000000,2026.000000,1927.000000,1933.000000
mean,2014.769737,5.476152,8.821822,0.817086,59.146568,0.729837,0.009001,0.703024,0.710003,0.268544
std,4.471146,1.107449,2.315938,0.137891,17.623319,0.152683,0.161369,0.238041,0.107100,0.085168
min,2007.000000,2.375000,0.000000,0.000000,0.000000,0.000000,-0.335000,0.000000,0.322000,0.083000
25%,2011.000000,4.654000,8.189000,0.745500,56.400000,0.633000,-0.105000,0.640250,0.625500,0.206000
50%,2015.000000,5.418500,9.377000,0.836000,64.900000,0.753000,-0.013000,0.789000,0.722000,0.258000
75%,2019.000000,6.278750,10.284000,0.909000,68.300000,0.850000,0.107000,0.865000,0.799000,0.320000
max,2022.000000,7.971000,11.648000,1.320000,77.100000,0.985000,0.698000,0.983000,0.944000,0.705000

In [8]:
happiness_report.describe()

,year,Happiness Score,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
count,2128.000000,2128.000000,2093.000000,2115.000000,2074.000000,2101.000000,2073.000000,2026.000000,1927.000000,1933.000000
mean,2014.769737,5.476152,8.821822,0.817086,59.146568,0.729837,0.009001,0.703024,0.710003,0.268544
std,4.471146,1.107449,2.315938,0.137891,17.623319,0.152683,0.161369,0.238041,0.107100,0.085168
min,2007.000000,2.375000,0.000000,0.000000,0.000000,0.000000,-0.335000,0.000000,0.322000,0.083000
25%,2011.000000,4.654000,8.189000,0.745500,56.400000,0.633000,-0.105000,0.640250,0.625500,0.206000
50%,2015.000000,5.418500,9.377000,0.836000,64.900000,0.753000,-0.013000,0.789000,0.722000,0.258000
75%,2019.000000,6.278750,10.284000,0.909000,68.300000,0.850000,0.107000,0.865000,0.799000,0.320000
max,2022.000000,7.971000,11.648000,1.320000,77.100000,0.985000,0.698000,0.983000,0.944000,0.705000

In [9]:
happiness_report.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2128 entries, 0 to 2127
Data columns (total 13 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country name                      2128 non-null   object
 1   Country Code                      2128 non-null   object
 2   Regional Indicator                2128 non-null   object
 3   year                              2128 non-null   int64
 4   Happiness Score                   2128 non-null   float64
 5   Log GDP per capita                2093 non-null   float64
 6   Social support                    2115 non-null   float64
 7   Healthy life expectancy at birth  2074 non-null   float64
 8   Freedom to make life choices      2101 non-null   float64
 9   Generosity                        2073 non-null   float64
 10  Perceptions of corruption         2026 non-null   float64
 11  Positive affect                   1927 non-null   float64
 12  Negative affect                   1933 non-null   float64
dtypes: float64(9), int64(1), object(3)
memory usage: 216.2+ KB

## Wrangling Data

#### Dropping Columns

In [10]:
# We will be removing two columns that don't have the complete data - Positive affect, Negative affect

In [11]:
happiness_report = happiness_report.drop(columns = ['Positive affect', 'Negative affect'])

In [12]:
happiness_report.shape

(2128, 11)

#### Missing Data

In [13]:
happiness_report.isnull().sum()

Country name                          0
Country Code                          0
Regional Indicator                    0
year                                  0
Happiness Score                       0
Log GDP per capita                   35
Social support                       13
Healthy life expectancy at birth     54
Freedom to make life choices         27
Generosity                           55
Perceptions of corruption           102
dtype: int64

#### Duplicate Data

In [14]:
happiness_report[happiness_report.duplicated()]

Empty DataFrame
Columns: [Country name, Country Code, Regional Indicator, year, Happiness Score, Log GDP per capita, Social support, Healthy life expectancy at birth, Freedom to make life choices, Generosity, Perceptions of corruption]
Index: []

In [15]:
# There are no. duplicate data found

In [58]:
# Exporting Dataset
happiness_report.to_csv(os.path.join(r'C:\Users\iNDIA\Desktop\Career Foundry\6 Advanced Analytics & Dashboard Design\6.1 Sourcing Open Data\World Happiness Report', 'happiness_report.csv'))